html {
    background-color: #0074E4;
}

@font-face {
    font-family: "Avenir";
    src: url("../designbyjimmy/fonts/Avenir.ttc");
}

div {
    font-family: "Avenir", "Lato", sans-serif;
    position:absolute;
    color:#fff;
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }   

i {
    color: #fff;
}

i:hover {
    color: #74C005;
}

@media (max-width: 768px) {
    div {
        top:25%;
        left:25%;
        padding:15px;
        -ms-transform: translateX(-25%) translateY(-25%);
        -webkit-transform: translate(-25%,-25%);
        transform: translate(-25%,-25%);
    }  
}